<!DOCTYPE html>
<html>
<head>
	<title>client esp</title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="xuly_client_esp.js"></script>
</head>
<body>
<input type="text" id="txtMess">
<button type="button" id="btnSend">Send</button>
</body>
</html>